<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="5">
	<test verbose="2" preserve-order="true" name="TestDebug">  
		<parameter name="driverName" value="chrome" />
		<classes>
			<class name="com.dbyl.tests.Case1" />
			<class name="com.dbyl.tests.JDaddress" />
			<class name="com.dbyl.tests.UseCookieLogin" />
			<class name="com.dbyl.tests.MapTest" />
			<class name="com.dbyl.tests.loginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
